/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;

	&:disabled {
		cursor: not-allowed;
	}
}

input,
textarea {
	border: none;
	outline: none;
	padding: 0;
}
